* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', Helvetica sans-serif;
}

// :root {
//   --primary: #4ade80;
//   --grey: #64748b;
//   --dark: #1e293b;
//   --dark-alt: #334155;
//   --sidebar-width: 300px;
//   --light: #f1f5f9;
// }

:root {
  --primary: #4ade80;
  --grey: #64748b;
  --dark: #1e293b;
  --dark-alt: #334155;
  --sidebar-width: 300px;
  --light: #f1f5f9;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
}